prefer-no-csd
environment{
	XDG_SESSION_TYPE "wayland"
	XDG_SESSION_DESKTOP "wayland"
	XDG_CURRENT_DESKTOP "wayland"
	MOZ_ENABLE_WAYLAND "1"
	QT_QPA_PLATFORM "wayland"
	SDL_VIDEODRIVER "wayland"
}

include "workspace.kdl"
include "input.kdl"
include "output.kdl"
include "layout.kdl"
include "startup.kdl"

cursor {
    xcursor-theme "Vanilla-DMZ"
    xcursor-size 32
    hide-when-typing
}


// Settings that influence how windows are positioned and sized.
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Layout


screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

switch-events{
    lid-open { spawn "swaylock" "-i" "/home/harun/dotfiles/wallpapers/ergo.jpg"; }
}

animations {
    // Uncomment to turn off all animations.
    // off

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 3.0
    workspace-switch {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }

    window-open {
        duration-ms 150
        curve "ease-out-expo"
    }

    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }

}

include "window-config.kdl"
include "keyboard-bindings.kdl"
