spawn-sh-at-startup "swaybg -i ~/dotfiles/wallpapers/ergo.jpg -m fill" 
spawn-at-startup "xwayland-satellite"
spawn-at-startup "waybar"
spawn-at-startup "jetbrains-toolbox"
spawn-sh-at-startup "pipewire"
spawn-sh-at-startup "podman system service --time=0"
