spawn-at-startup "xwayland-satellite"
spawn-at-startup "xembedsniproxy"
spawn-at-startup "qs"
spawn-at-startup "jetbrains-toolbox"
spawn-at-startup "nm-applet"
spawn-sh-at-startup "pipewire"
spawn-sh-at-startup "podman system service --time=0"
