hotkey-overlay{
	skip-at-startup
}

input {
	keyboard {
		track-layout "global"
		repeat-delay 500
		repeat-rate 40
		xkb {
			options "caps:escape_shifted_capslock"
		}
	}	
}

animations{
	off
}

output "LG Electronics LG ULTRAFINE 412NTFFA8X051" {
    scale 1.2
    focus-at-startup
    transform "normal"
    background-color "#161616"
    position x=0 y=0
}

output "LG Electronics LG HDR QHD 005NTDV8R810" {
    off
}

spawn-sh-at-startup "regreet; niri msg action quit --skip-confirmation"

