@define-color cursor #78a9ff;
@define-color background #161616;
@define-color foreground #ffffff;
@define-color color0 #161616;
@define-color color1 #262626;
@define-color color2 #393939;
@define-color color3 #525252;
@define-color color4 #dde1e6;
@define-color color5 #f2f4f8;
@define-color color6 #ffffff;
@define-color color7 #08bdba;
@define-color color8 #3ddbd9;
@define-color color9 #78a9ff;
@define-color color10 #ee5396;
@define-color color11 #33b1ff;
@define-color color12 #ff7eb6;
@define-color color13 #42be65;
@define-color color14 #be95ff;
@define-color color15 #82cfff;
